<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gob.pe.munisantanita.transportemenor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotipo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logotipo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.activity.BuscarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".presentation.ui.activity.UnidadActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".presentation.ui.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowLightStatusBar="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>